@import "tailwindcss";


:root {
  
  font-family: 'Advent Pro' , sans-serif ;
  background-color: #ffffff;
  /* max-width: 1024px;
  max-height: 768px; */
  width: 100vw;
  height: 100vh;
  line-height: 0;
  margin: 0 auto;
}



@keyframes rod-wiggle {
  0%, 100% {transform: translateX(0);}
  50% {transform: translateX(-6px);}
}